<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lubana" translate="label" sortOrder="999">
            <label>Lubana Modules</label>
        </tab>
        <section id="lubana_pageperformance" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Page Performance</label>
            <tab>lubana</tab>
            <resource>Lubana_PagePerformance::config</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="isEnable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable for Use</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ip" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed IP</label>
                    <comment>Please enter Allowed IP.</comment>
                </field>                
            </group>
        </section>
    </system>
</config>